<h1><%= @sickness.name %></h1>
<h3>Symptoms</h3>
	<p><%= @sickness.symptoms %></p>
<h3>Description</h3>
	<p><%= @sickness.description %></p>
<h3>Causes</h3>
	<p><%= @sickness.causes %></p>
<h3>Treatment</h3>
	<p><%= @sickness.treatment %></p>

<%= link_to 'All Sicknesses', all_path %>
<%= link_to 'Contribute', sicknesses_path %>