<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "home", :media => "all" %>
	<link href="http://fonts.googleapis.com/css?family=Josefin+Sans:700|Amatic+SC:700" rel="stylesheet" type="text/css" />
</head>

<body>

	
		<div id="banner">
			<center><%= image_tag("banner.png") %></center>
		</div>
		<div id="recent">
		<small>
			<div id = "thing">
			<span id="label">Recently Added:</span>&nbsp;
			<span id ="link">
				<% @latest_sicknesses.each do |sickness| %>
				<%= link_to "#{sickness.name}", sickness_path(sickness.id) %>&nbsp;
				<% end %>
			</span>
			<span id ="labellink"><%= link_to 'All Sicknesses', all_path %></span>
			</br></br>
			<span id="diagnoselink"><%= link_to 'Diagnose Yourself!', diagnose_path %></span>
		
		</small>
			</div>
		</div>
</body>
</html>